body {
    font-family: 'Lato';
    margin: 0px;
    background: #474747;
}

#header {
    border:0px solid #000;
    background: #F0F09D;
    width:94%;
    height:120px;
    margin: 0 0 0px 0;
    padding: 0% 3% 0% 3%;

    line-height: 120px;
    font-size: 80px;
}

.container {
    position:relative;
    padding:0 0 0 25%;
    height: 900px;
}

#sidebar {
    position:absolute;
    top:0; bottom:0; left:2%;
    width:23%;
    height: 100%;
    background: #F5F5DC;
    color: white;
}

.sidebarelement {
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 2px;
    margin-right: -1px;
    margin-left: -1px;
    background: black;

    line-height: 80px;
    text-align: center;
    font-size: xx-large;
}

#currentsidebar {
    background: #F5F5DC;
    color: black;
    margin-right: -2px;
}

#content {
    border:0px solid #000;
    background: #F5F5DC;
    width:91.314%;
    height:100%;
    margin:0px 0 0px 0;
    padding: 0 3% 0 3%;
    font-size: 60px;
    display: inline-block;
}

#contentheader {
    text-align: center;
    margin: 4%;
    font-weight: bolder;
}

.contentselection {
    position: relative;
    padding: 3% 0 3% 50%;
    margin-bottom: 0%;
}

.contentselectiontext {
    position: absolute;
    left:20%;
}

select {
    font-size: 60px;
    font-family: 'Lato';
    margin-left: 10%;
    width: 60%;
}

#messagebox {
    margin-top: 30px;
    height: 30%;
}

textarea {
    position: relative;
    left: 20%;
    width: 64.5%;
    height: 100%;
    font-size: 30px;
}

#send {
    float: right;
    width: 14%;
    height: 100%;
    background:red;
    border: 0px;
    font-size: 40px;
}

#footer {
    border:0px solid #000;
    position: relative;
    left:2%;
    width:90%;
    height:200px;
    margin:0px 0 0 0;


    background:#474747;
    padding: 3% 3% 0 3%;

    font-size: 20px;
    color: lightgrey;
}

#teaminfo {
    position: absolute;
    right: 60%;
    text-align: right;
}

#footertext {
    position: relative;
    left:45%;
    width: 40%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}
