body {
    font-family: 'Lato';
    margin: 0px;
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=F0F09Dff&noise=626262&density=20&opacity=20');
}

#header {
    border:0px solid #000;
    background: black;
    width:98%;
    height:120px;
    margin: 0 0 0px 0;
    padding: 1%;

    line-height: 120px;
    font-size: 80px;

    vertical-align: middle;
}

#headerlogo {
    height: 100%;
    display:block;
    margin: auto;
}

.container {
    position:relative;
    padding:0 0 0 30%;
    height: 900px;
}

#sidebar {
    position:absolute;
    top:0; bottom:0; left:10%;
    width:20%;
    height: 100%;
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=#F5F5DCff&noise=626262&density=50&opacity=80');
    color: white;
}

.sidebarelement {
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 1px;
    margin-right: -1px;
    margin-left: -1px;
    background: black;

    line-height: 80px;
    text-align: center;
    font-size: 200%;
}

#currentsidebar {
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=#F5F5DCff&noise=626262&density=5&opacity=80');
    color: black;
    margin: 0 -1px 0 -1px;
}

#content {
    border:0px solid #000;
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=#F5F5DCff&noise=626262&density=50&opacity=80');
    width:80%;
    height:100%;
    margin:0px 0 0px 0;
    padding: 0 3% 0 3%;
    font-size: 40px;
    display: inline-block;
}

#contentheader {
    text-align: center;
    margin: 4%;
    font-weight: bolder;
    font-size: 40px;
}

#icon {
    width: 10%;
    vertical-align: middle;
}
.contentselection {
    position: relative;
    padding: 3% 0 3% 40%;
    margin-bottom: 0%;
}

.contentselectiontext {
    position: absolute;
    left:10%;
}

select {
    font-size: 40px;
    font-family: 'Lato';
    margin-left: 5%;
    width: 80%;
}

#messagebox {
    margin-top: 30px;
    height: 44%;
}

textarea {
    position: relative;
    left: 10%;
    width: 64.5%;
    height: 100%;
    font-size: 30px;
    resize: none;
}

#send {
    float: right;
    width: 15%;
    height: 101.8%;
    background:red;
    border: 0px;
    font-size: 40px;
    margin-right: 9%;
}

#footer {
    width:94%;
    height:200px;

    background: #474747;
    padding: 3% 3% 0 3%;

    font-size: 20px;
    color: lightgrey;
}

#teaminfo {
    position: absolute;
    right: 60%;
    text-align: right;
}

#footertext {
    position: relative;
    left:45%;
    width: 40%;
}

a {
    color: white;
    text-decoration: none;
}

.recentnmail {
    font-size: 18px;
    background: #474747;
    color: white;
    padding: 1% 1% 1% 21%;
    margin: 2% 5% 2% 5%;
    border-radius: 20px;
    position: relative;

}

#orgpic {
    position: absolute;
    left: 1%;
    border-radius: 14px;
    width: 19%;
    height: 82%;
    margin: 1%;
}

#orgname {
    font-weight: bolder;
}

#signupstuff {
    position: relative;
    padding: 1% 1% 1% 55%;
    margin: 2% 5% 2% 5%;
}

#signupform {
    position: absolute;
    left: 0%;
    font-size: 20px;
    padding:5%;
    width:50%;
    display: inline-block;
    margin: auto;
}

#loginform {
    font-size: 20px;
    padding:5%;
    width:100%;
    display: inline-block;
    margin: auto;
}

form {
    display: inline-block;
    margin: auto;
}
